<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='./static/tailwind.css') }}"
      rel="stylesheet"
    />
    <title>My FastAPI App</title>
  </head>
  <body class="text-center bg-gray-900">
    <h1 class="mt-8 text-white text-4xl" style="font-family: Poppins">
      Hello from FastAPI!
    </h1>

    <section
      class="flex md:flex-row flex-col mx-16 justify-between mt-[20vh] lg:mt-0"
    >
      <div
        class="flex flex-wrap lg:mt-10 -mt-24 md:mt-0 w-full md:w-6/12 h-full"
      >
        <label
          class="text-gray-400 text-base font-bold leading-tight tracking-normal mb-2"
          >Enter Word</label
        >
        <input
          type="text"
          class="text-amber-900 focus:outline-none border-gray-900 focus:border-amber-100 bg-[#FCD08F] placeholder:text-amber-900/50 font-normal w-full h-14 flex items-center pl-3 text-xl rounded-lg shadow-xl transition-all ease-in-out focus:shadow-amber-300/10 border-2"
        />
      </div>
      <div
        class="flex flex-wrap lg:mt-10 mt-[100%] md:mt-0 w-full md:w-6/12 h-full justify-items-end"
      >
        <img
          src="https://visitcount.itsvg.in/diamonds.png"
          class="aspect-square select-none pointer-events-none w-3/4"
          alt=""
          draggable="false"
        />
      </div>
    </section>

    <footer class="text-center text-white" style="font-family: sans-serif">
      This is a simple HTML template.
    </footer>
  </body>
</html>
